@charset "utf-8";

[data-bs-theme=light] {
    --body-bg: #F2F2F2;
    --body-color: #000;
    --success: #5C8E36;
    --white: #FFF;
    --gray: #C9C9C9;
    --gray-dark: #2F2F2F;
    --btn-light: #FFF;
    --form: #FFF;
    --border: #DADADA;
    --shadow-success: rgba(108, 187, 80, 0.5);
}

[data-bs-theme=dark] {
    --body-bg: #2b2b2b;
    --body-color: #FFF;
    --success: #5C8E36;
    --white: #1b1b1b;
    --gray: #d4d4d4;
    --gray-dark: #F2F2F2;
    --btn-light: #303030;
    --form: #767676;
    --border: #AEAEAE;
    --bs-shadow-success: rgba(108, 187, 80, 0.5);
}

body{
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: var(--body-color);
    -webkit-font-smoothing: antialiased;
}
::placeholder{
    color: var(--body-color);
}
img::selection{
    background: transparent;
}
a,
.page-link{
    color: var(--body-color);
}
a:hover,
.page-link:hover{
    text-decoration: none;
    color: #000;
}
a:focus,
button:focus{ 
    outline: none; 
}
button.loading{
    color: transparent;
    position: relative;
}
button.loading:after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    left: 50%;
    top: 50%;
    margin: -8px 0px 0px -8px;
    border-right-color: #0000;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
    font-size: 14px;
}
label{
    font-size: 16px;
    color: var(--body-color);
}
.btn-link.hover,
.btn-link:hover,
.btn-link.focus,
.btn-link:focus{
    text-decoration: none;
}
.fw-bolder{
    font-weight: 800 !important;
}
.font-size-10{
    font-size: 10px;
}
.font-size-11{
    font-size: 11px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-13{
    font-size: 13px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-32{
    font-size: 32px;
}
.line-height-14{
    line-height: 14px;
}
.line-height-15{
    line-height: 15px;
}
.line-height-16{
    line-height: 16px;
}
.line-height-17{
    line-height: 17px;
}
.line-height-21{
    line-height: 21px;
}
.text-underline{
	text-decoration: underline;
}
.text-success{
    color: var(--success) !important;
}
.bg-white{
    background-color: var(--white) !important;
}
.btn-success{
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}
.btn-success:focus,
.btn-success:hover{
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}
.btn-light{
    background-color: var(--btn-light);
    border-color: var(--btn-light);
    color: var(--gray-dark);
}
.btn-light:focus,
.btn-light:hover{
    background-color: var(--btn-light);
    border-color: var(--btn-light);
    color: var(--gray-dark);
}
.content{
    background-color: var(--body-bg);
    padding-top: 30px;
    padding-bottom: 15px;
}
.signin{
    background: var(--white);
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    padding: 3em;
    border-radius: 0.5em;
}
.text-w-line hr{
    top: 0;
    left: 0;
    right: 0;
}
.form-control{
    background-color: var(--form);
    border-color: var(--border);
    color: var(--body-color);
    font-weight: bold;
}
.form-control:::placeholder{
    color: var(--body-color);
}
.form-control:focus{
    background-color: var(--form);
    border-color: var(--success);
    box-shadow: 0px 0px 0px 3px var(--shadow-success);
}
.form-signin .form-floating > label{
    left: 50px;
}
.form-signin .form-control{
    padding-left: 60px !important;
}
.form-signin .icon-input{
    position: absolute;
    top: 0;
    left: 0;
    height: 58px;
    width: 58px;
    font-size: 24px;
    line-height: 58px;
    color: var(--gray);
}
.form-code .form-control{
    height: 80px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.form-code .security-code{
    margin: 0 -0.5em;
}
.password-view{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    color: var(--black);
    width: 58px;
    height: 58px;
    background: none;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.password-view.active .bi::before,
.password-view.active [class^="bi-"]::before,
.password-view.active [class*=" bi-"]::before{
    content: "\F33F";
}